<div class="panel panel-default">
  <div class="panel-heading">
    {{proyectos.nombre}}
    <a class="pull-right" routerLink="/proyectos">
      Back
    </a>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>id</th>
        <td>{{proyectos.id}}</td>
      </tr>
      <tr>
        <th>nombre</th>
        <td>{{proyectos.nombre}}</td>
      </tr>
      <tr>
        <th>icono</th>
        <td>{{proyectos.icono}}</td>
      </tr>
      <tr>
        <th>fechaInicio</th>
        <td>{{proyectos.fechaInicio}}</td>
      </tr>
    </table>
  </div>
</div>
